// 
// Masthead
// 

header.masthead {
    position: relative;
    overflow: hidden;

    // Remove old background image
    background: none;

    // Overlay
    &:before {
        content: '';
        position: absolute;
        background-color: mix($gray-900, $primary, 65%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
        z-index: 2;
    }

    // Carousel fills the masthead
    .carousel,
    .carousel-inner,
    .carousel-item {
        height: 100%;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}
